a:link, a:visited {
  color: #929292; /* Set the default color for nav links */
}

a:hover, a:focus {
  color: #831100; /* Set the color for nav links on hover and focus */
  text-decoration: none;
}


.content {
  max-width: 100%;
  padding: 50px 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.nav-button {
  display: inline-block;
  min-width: 150px;
  background-color: #8B0000;
  color: #aaaaaa;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 20px 40px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  background-color: #A90000;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(200, 0, 0, 0.5);
}

body, html {
  margin: 0;
}

body {
  background-color: #232323;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
  text-shadow: 0 2px 5px rgba(200, 50, 75, 0.5);
  min-height: 100vh;
}

.main-container {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  background-color: #232323;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 75%;
    margin-top: 50px;
  }
  .nav-button {
    font-size: 2.2em;
    padding: 28px 56px;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 65%;
    margin-top: 50px;
  }
  .nav-button {
    font-size: 2.6em;
    padding: 32px 64px;
  }
}

@media (min-width: 1600px) {
  .main-container {
    max-width: 55%;
  }
  .nav-button {
    font-size: 3em;
    padding: 36px 72px;
  }
}

@media (min-width: 2560px) {
  .main-container {
    max-width: 45%;
    zoom: 150%;
  }
  .nav-button {
    font-size: 3.4em;
    padding: 40px 80px;
  }
}

@media (min-width: 3840px) {
  body {
    font-size: 2.5em;
  }
  .nav-button {
    font-size: 1.8em;
    padding: 28px 56px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.project-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project:hover .project-image {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(200, 0, 0, 0.5); /* Dark red shadow */
  text-shadow: 0 4px 10px rgba(200, 0, 0, 0.5); /* Dark red shadow */
}

.project-title {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-button {
  display: inline-block;
  background-color: transparent;
  color: #aaaaaa;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: none;
}

.contact-button:hover {
  background-color: rgba(200, 200, 200, 0.1);
  transform: scale(1.1);
  box-shadow: none;
}

.contact-button i {
  margin-right: 8px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #282828;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card h2 {
  margin-top: 0;
}

.skill-card ul {
  list-style-type: none;
  padding: 0;
}

.skill-card li {
  margin-bottom: 10px;
}

progress {
  width: 100%;
}
